<h1>Usuarios</h1>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <em class="fa fa-spin fa-refresh fa-2x"></em>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="card-body" *ngIf="!cargando">
  <h4 class="card-title">Total de usuarios ({{ totalUsuarios }})</h4>
  <h6 class="card-subtitle">Registrados</h6>
  <table class="table table-dark table-striped">
    <thead>
      <tr class="center">
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Auth</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; index as i" class="center">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <select
            class="form-control cursor"
            [(ngModel)]="usuario.role"
            (change)="cambiarRole(usuario)"
          >
            <option value="ADMIN_ROLE">Admin</option>
            <option value="USER_ROLE">User</option>
          </select>
        </td>
        <td>
          <span *ngIf="usuario.google" class="badge bg-primary">Google</span>
          <span *ngIf="!usuario.google" class="badge bg-danger">Email</span>
        </td>
        <td class="text-nowrap text-center">
          <div
            id="divEdit"
            data-bs-target="#modalEditar"
            data-bs-toggle="modal"
          >
            <mat-icon
              (click)="openModalEditar(usuario, i)"
              aria-hidden="false"
              aria-label="icon edit"
              class="cursor"
              data-toggle="tooltip"
              matTooltip="Editar"
              matTooltipPosition="above"
              >edit</mat-icon
            >
          </div>
          <div>
            <mat-icon
              data-toggle="tooltip"
              matTooltip="Borrar"
              matTooltipPosition="above"
              (click)="eliminarUsuario(usuario)"
              aria-hidden="false"
              aria-label="delete icon"
              class="cursor"
              >delete</mat-icon
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-editar-usuario [dataUser]="usuarioParent" (newItemEvent)="addItem($event)"></app-editar-usuario>
