.w-100 {
    width: 100% !important;
  }

  

  .mat-icon{
    color: rgb(175, 18, 18);
  }
  .cursor{
    cursor: pointer;
  }
  #divEdit .mat-icon{
    color: blue;
  }

  table {
    width: 100%;
  }