<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalEdit">Editar usuario </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usuarioForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input formControlName="email" type="text" class="form-control" id="exampleInputPassword1" placeholder="email">
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardarData()">Guadar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>